/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.row {
	padding-top: 10px;
}

ul {
	list-style-type: none;
}

.example-chat-messages li {
	margin-left:-40px;
}

.navbar-nav li,h3 {
  padding: 5px;
}

.create-btn {
  margin: 5px;
}
